 <% layout('book_sentence') %>

<div class="page open">
  <div class="button_other">・これは、私が小さいときに、村の<div data-text='もへいさん' class="description">茂平</div>というおじいさんからきいたお話です。</div>
  <div class="figure-none">むかしは、私たちの村のちかくの、中山というところに小さなお城があって、中山さまというおとのさまが、おられたそうです。<br>
  その中山から、少しはなれた山の中に、「ごん狐」という狐がいました。ごんは、一人ぼっちの小狐で、しだの一ぱいしげった森の中に穴をほって住んでいました。</div>
  そして、夜でも昼でも、あたりの村へ出てきて、いたずらばかりしました。</br>
  はたけへ入って芋をほりちらしたり、菜種がらの、ほしてあるのへ火をつけたり、百姓家の裏手につるしてあるとんがらしをむしりとって、いったり、いろんなことをしました。<br>
  或秋のことでした。</br>
  二、三日雨がふりつづいたその間、ごんは、外へも出られなくて穴の中にしゃがんでいました。<br>
  雨があがると、ごんは、ほっとして穴からはい出ました。</br>
  空はからっと晴れていて、百舌鳥の声がきんきん、ひびいていました。<br>
  ごんは、村の小川の堤まで出て来ました。<br>
  あたりの、すすきの穂には、まだ雨のしずくが光っていました。<br>
  川は、いつもは水が少いのですが、三日もの雨で、水が、どっとましていました。<br>
  <div class="button_other">・ただのときは水につかることのない、川べりのすすきや、<div data-text='萩の株<br><img class="hagi" src="/images/hagi.jpg">' class="description">萩の株</div>が、黄いろくにごった水に横だおしになって、もまれています。</div>
  <div class="figure-none">ごんは川下の方へと、ぬかるみみちを歩いていきました。</br>
  ふと見ると、川の中に人がいて、何かやっています。</br>
  ごんは、見つからないように、そうっと草の深いところへ歩きよって、そこからじっとのぞいてみました。</br>
  「兵十だな」と、ごんは思いました。</br>
  兵十はぼろぼろの黒いきものをまくし上げて、腰のところまで水にひたりながら、魚をとる、はりきりという、網をゆすぶっていました。</br>
  はちまきをした顔の横っちょうに、まるい萩の葉が一まい、大きな黒子みたいにへばりついていました。</br>
  しばらくすると、兵十は、はりきり網の一ばんうしろの、袋のようになったところを、水の中からもちあげました。</br>
  その中には、芝の根や、草の葉や、くさった木ぎれなどが、ごちゃごちゃはいっていましたが、でもところどころ、白いものがきらきら光っています。</br>
  それは、ふというなぎの腹や、大きなきすの腹でした。</br>
  兵十は、びくの中へ、そのうなぎやきすを、ごみと一しょにぶちこみました。</br>
  そして、また、袋の口をしばって、水の中へ入れました。</br>
  兵十はそれから、びくをもって川から上りびくを土手においといて、何をさがしにか、川上の方へかけていきました。</div>
  兵十がいなくなると、ごんは、ぴょいと草の中からとび出して、びくのそばへかけつけました。<br>
  ちょいと、いたずらがしたくなったのです。</br>
  ごんはびくの中の魚をつかみ出しては、はりきり網のかかっているところより下手の川の中を目がけて、ぽんぽんなげこみました。<br>
  どの魚も、「とぼん」と音を立てながら、にごった水の中へもぐりこみました。<br>
  <div class="button_other">・一ばんしまいに、太いうなぎをつかみにかかりましたが、何しろぬるぬるとすべりぬけるので、手ではつかめません。</div>
  <div class="figure-none">ごんはじれったくなって、頭をびくの中につッこんで、うなぎの頭を口にくわえました。</br>
  うなぎは、キュッと言ってごんの首へまきつきました。</br>
  そのとたんに兵十が、向うから、「うわアぬすと狐め」と、どなりたてました。</br>
  ごんは、びっくりしてとびあがりました。</br>
  うなぎをふりすててにげようとしましたが、うなぎは、ごんの首にまきついたままはなれません。</br>
  ごんはそのまま横っとびにとび出して一しょうけんめいに、にげていきました。</br>
  ほら穴の近くの、はんの木の下でふりかえって見ましたが、兵十は追っかけては来ませんでした。</div>
  ごんは、ほっとして、うなぎの頭をかみくだき、やっとはずして穴のそとの、草の葉の上にのせておきました。</br>

</div>

<div class="page">
  <div class="button_other">・これは、私が小さいときに、村の<div data-text='もへいさん' class="description">茂平</div>というおじいさんからきいたお話です。</div>
  <div class="figure-none">むかしは、私たちの村のちかくの、中山というところに小さなお城があって、中山さまというおとのさまが、おられたそうです。<br>
  その中山から、少しはなれた山の中に、「ごん狐」という狐がいました。ごんは、一人ぼっちの小狐で、しだの一ぱいしげった森の中に穴をほって住んでいました。<br>
  そして、夜でも昼でも、あたりの村へ出てきて、いたずらばかりしました。</br>
  はたけへ入って芋をほりちらしたり、菜種がらの、ほしてあるのへ火をつけたり、百姓家の裏手につるしてあるとんがらしをむしりとって、いったり、いろんなことをしました。<br>
  或秋のことでした。</br>
  二、三日雨がふりつづいたその間、ごんは、外へも出られなくて穴の中にしゃがんでいました。<br>
  雨があがると、ごんは、ほっとして穴からはい出ました。</br>
  空はからっと晴れていて、百舌鳥の声がきんきん、ひびいていました。<br>
  </div>
  ごんは、村の小川の堤まで出て来ました。<br>
  あたりの、すすきの穂には、まだ雨のしずくが光っていました。<br>
  川は、いつもは水が少いのですが、三日もの雨で、水が、どっとましていました。<br>
  <div class="button_other">・ただのときは水につかることのない、川べりのすすきや、<div data-text='萩の株<br><img class="hagi" src="/images/hagi.jpg">' class="description">萩の株</div>が、黄いろくにごった水に横だおしになって、もまれています。</div>
  <div class="figure-none">ごんは川下の方へと、ぬかるみみちを歩いていきました。</br>
  ふと見ると、川の中に人がいて、何かやっています。</br>
  ごんは、見つからないように、そうっと草の深いところへ歩きよって、そこからじっとのぞいてみました。</br>
  「兵十だな」と、ごんは思いました。</br>
  兵十はぼろぼろの黒いきものをまくし上げて、腰のところまで水にひたりながら、魚をとる、はりきりという、網をゆすぶっていました。</br>
  はちまきをした顔の横っちょうに、まるい萩の葉が一まい、大きな黒子みたいにへばりついていました。</br>
  しばらくすると、兵十は、はりきり網の一ばんうしろの、袋のようになったところを、水の中からもちあげました。</br>
  その中には、芝の根や、草の葉や、くさった木ぎれなどが、ごちゃごちゃはいっていましたが、でもところどころ、白いものがきらきら光っています。</br>
  それは、ふというなぎの腹や、大きなきすの腹でした。</br>
  兵十は、びくの中へ、そのうなぎやきすを、ごみと一しょにぶちこみました。</br>
  そして、また、袋の口をしばって、水の中へ入れました。</br>
  兵十はそれから、びくをもって川から上りびくを土手においといて、何をさがしにか、川上の方へかけていきました。</div>
  兵十がいなくなると、ごんは、ぴょいと草の中からとび出して、びくのそばへかけつけました。<br>
  ちょいと、いたずらがしたくなったのです。</br>
  ごんはびくの中の魚をつかみ出しては、はりきり網のかかっているところより下手の川の中を目がけて、ぽんぽんなげこみました。<br>
  どの魚も、「とぼん」と音を立てながら、にごった水の中へもぐりこみました。<br>
  <div class="button_other">・一ばんしまいに、太いうなぎをつかみにかかりましたが、何しろぬるぬるとすべりぬけるので、手ではつかめません。</div>
  <div class="figure-none">ごんはじれったくなって、頭をびくの中につッこんで、うなぎの頭を口にくわえました。</br>
  うなぎは、キュッと言ってごんの首へまきつきました。</br>
  そのとたんに兵十が、向うから、「うわアぬすと狐め」と、どなりたてました。</br>
  ごんは、びっくりしてとびあがりました。</br>
  うなぎをふりすててにげようとしましたが、うなぎは、ごんの首にまきついたままはなれません。</br>
  ごんはそのまま横っとびにとび出して一しょうけんめいに、にげていきました。</br>
  ほら穴の近くの、はんの木の下でふりかえって見ましたが、兵十は追っかけては来ませんでした。</div>
  ごんは、ほっとして、うなぎの頭をかみくだき、やっとはずして穴のそとの、草の葉の上にのせておきました。</br>

</div>
