 <% layout('layout') %>
 <div id="index-background">
   <div class="mask">
     <div class="container">
       <div id='book-index'>

         <% bookList.forEach(function(book){%>
           <%if(book.book_id%6==0 || book.book_id==1){%>
           <a href="/book_detail/<%=book.book_id%>"><img src="<%= book.book_image%>" class="book-images left"></a>
           <%} else{%>
          <a href="/book_detail/<%=book.book_id%>"><img src="<%= book.book_image%>" class="book-images"></a>
             <%}%>
        <% });%>

       </div>
     </div>
   </div>
 </div>
