 <% layout('layout') %>
<div class="login_wrapper">
  <form action="/register" method="post"　class="form_login">
    <ul>
      <li>
    <input type="text" name="user_name"　class="input_login">
  </li>
  <li>
    <input type="text" name="password"　class="input_login">
  </li>
  <li>
    <input type="submit" value="新規作成"　class="buttonType">
  </li>
  </ul>
  </form>
</div>
