*{
  padding: 0;
  margin:0;
  box-sizing:border-box;
}

body {
  background-color: #F5F5F5;
}

a {
  text-decoration: none;
  color: #858080;
}

li{
  list-style: none;
}

.container{
  max-width:1300px;
  width:100%;
  margin:0 auto;
  padding:0 15px;
}


#header{
  width:100%;
  position: fixed;
  background-color: #F5F5F5;
  color: #858080;
  margin-bottom:20px;
  padding:20px 0;
  z-index: 1000;
}

.header_left{
  float:left;
}

.app_title{
  font-size: 25px;
}

.app_title:hover{
  color: #FF6860;
}

.header_right{
  float:right;

}

.header_right ul li{
  float:left;
  margin-right:10px;
  display: inline-block;
  border-bottom:0.5px solid #858080;
  cursor: pointer;
}

.header_right ul li:hover{
  color: #FF6860;
  border-bottom:0.5px solid #FF6860;
}

.san{
  font-size: 10px;
}

#contents{

  overflow: scroll;
  height:760px;
}

#footer{
  width:100%;
  height:40px;
  background-color: #F5F5F5;
  position: fixed;
  z-index:1000;
  text-align: center;
}

.copyright{
  padding-top: 10px;
  color: #858080;
}

.login_wrapper{
  text-align: center;
}

.form_login{
  margin:150px auto;
  padding:200px;
  width:100px;
  height:100px;
  border-radius: 900px;
  border:1px solid #858080;
}
.input_login{
  position: relative;
  top:-50px;
  left:-140px;
  text-align: center;
  width:300px;
  height:20px;
}

.input_login_top{
  margin-top:20px;
}

.buttonType{
  position: relative;
  left:-25px;

  margin-top:0px;
  padding: 10px;
  border-radius: 5px;
  color: #FF6860;
  border:1px solid  #FF6860;
  background-color: white;
}


.buttonType:hover{
  background-color: #FF6860;
  color: white;

}
